@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'react-toastify/dist/ReactToastify.css';


#container{
    margin-top: 15px !important;
}

.textarea{
    height: 120px !important;
}

.formButtons{
    float: right;
    margin-right:0px;
}